.MainFooter{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #eeeeee;
}

.MainFooterContainer{
    width: 90%;
    margin-top: 60px;
    margin-bottom: 60px;
    display: flex;
    max-width: var(--max-width);
    align-items: center;
    justify-content: space-evenly;
}

.FooterContact{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}
.FooterContactForm{
    width: 55%;
    border-left: 2px solid var(--Main-Color);
    justify-content: flex-start;
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: flex-end;
}

.FooterContactForm form{
    width: 90%;
    max-width: 600px;
}

.TitleForm h3{
    font-size: 50px;
    line-height: 70%;
    color: var(--Main-Color);
}

.submitedArea{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.submitedArea button{
    transition: all 500ms;
    border: none;
    cursor: pointer;
    margin-left: 0px;
    margin-top: 20px;
}
.submitedArea button:hover p {
    font-size: 20px;
    color: var(--Main-Color);
    text-decoration: underline solid var(--Text-Color);
}
.submitedArea button p{
    font-size: 20px;
    transition: all 500ms;
    color: var(--Main-Color);
    text-decoration: underline solid var(--Main-Color);
}

.FormInputs{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.FormInputs input{
    outline: none;
    background-color: #dad9d6;
    border: none;
    padding: 15px 20px;
    width: 100%;
    margin-top: 15px;
    
}
.FormInputs input::placeholder{
    color: var(--Main-Color);
    font-weight: bolder;
}

.FormInputs textarea{
    outline: none;
    background-color: #dad9d6;
    border: none;
    color: var(--Main-Color);
    resize: none;
    padding: 15px 20px;
    height: 200px;
    width: 100%;
    margin-top: 15px;
}

.FormInputs textarea::placeholder{
    color: var(--Main-Color);
    font-weight: bolder;
}
.FormInputs textarea::-webkit-scrollbar {
    display: none;
    background-color: #F5F5F5; /* Cor de fundo da barra de rolagem */
    width: 12px; /* Largura da barra de rolagem */
  }
  
  /* Define a cor do botão de rolagem */
.FormInputs textarea::-webkit-scrollbar-thumb {
    background-color: #FF0000; /* Cor do botão de rolagem */
  }
.copyright{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 60px;
}
.copyright a{
    align-items: center;
    display: flex;
}
.copyright a:hover{
    color: var(--Main-Color);
}


.copyright svg{
    margin-left: 10px;
    max-width: 50px;
}

.FooterContact{
  
}
.ContactArea br{
    height: 5px!important;
}

.ContactArea:nth-child(1){
    margin-top: unset;
}
.ContactArea{
    margin-top: 60px;
    width: 350px;
    font-size: 20px;
}
.ContactArea p{
    color: var(--Text-Color);
}
.ContactArea p a {
    font-size: 18px;
}

.ContactArea a:hover{
    color: var(--Main-Color);
}

.MailTo{
    font-size: 15px;
}

.ContactTitle{
    font-size: 28px;
    color: var(--Text-Color);
}

@media screen and (min-width:850px) and (max-width:1024px){
    .MainFooterContainer{
        flex-direction:column-reverse;
    }

    .FooterContactForm{
        width:100%;
        border-left: unset;
        justify-content: flex-start;
        display: flex;
        height: 100%;
        flex-direction: column;
        align-items: center;
        margin-bottom: 90px;
    }
    .FooterContact{
        width: 100%;
        display: flex;  
        text-align: center;
        align-items: center;
        justify-content: center;
        flex-direction: column;
     }

     .ContactArea{
        margin-top: 60px;
        width:100%;
        max-width: 600px;
        font-size: 20px;
    }

    .submitedArea{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .submitedArea button{
        margin-left: unset;
    }
}


@media screen and (min-width:550px) and (max-width:850px){
    .MainFooterContainer{
        flex-direction:column-reverse;
    }

    .FooterContactForm{
        width:100%;
        border-left: unset;
        justify-content: flex-start;
        display: flex;
        height: 100%;
        flex-direction: column;
        align-items: center;
        margin-bottom: 90px;
    }
    .FooterContact{
        width: 90%;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        flex-direction: column;
     }

     .ContactArea{
        margin-top: 60px;
        width:100%;
        max-width: 600px;
        font-size: 20px;
    }

    .submitedArea{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .submitedArea button{
        margin-left: unset;
    }
}

@media screen and (min-width:280px) and (max-width:550px){
    .MainFooterContainer{
        flex-direction:column-reverse;
    }

    .FooterContactForm{
        width:100%;
        border-left: unset;
        justify-content: flex-start;
        display: flex;
        height: 100%;
        flex-direction: column;
        align-items: center;
        margin-bottom: 90px;
    }
    .FooterContact{
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
     }

     .ContactArea{
        margin-top: 60px;
        width:100%;
        max-width: 600px;
        font-size: 20px;
        text-align: center;
    }

    .ContactArea br{
        height: 5px!important;
    }
    
    .ContactArea:nth-child(1){
        margin-top: unset;
    }

    .ContactArea p{
        word-wrap: break-word;
        color: var(--Text-Color);
    }
    .ContactArea p a {
        font-size: 15px;
        word-wrap: break-word;
    }
    
    .ContactArea a:hover{
        color: var(--Main-Color);
    }
    
    .MailTo{
        font-size: 15px;
    }
    
    .ContactTitle{
        font-size: 28px;
        color: var(--Text-Color);
    }

    .submitedArea{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .submitedArea button{
        margin-left: unset;
    }

    .FooterContactForm form{
        width: 100%;
        max-width: 600px;
    }
    
}