:root {
  --max-width: 1500px;
  --border-radius: 25px;
  --Main-Color: #3869af;
  --Second-Color:#404c58;
  --Text-Color: #444033;
}

h1, h2, h3, h4, h5, h6{
  font-family: var(--Font);
  font-weight: bold;
}

input, textarea{
  font-family: var(--Font);
  font-weight: medium;
  color: #7d7458;
}

p{
  font-family: var(--Font);
  font-weight: medium;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family:  sans-serif;
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
 
}

a {
  color: inherit;
  text-decoration: none;
}
/* Aplicando estilos à barra de rolagem */
::-webkit-scrollbar {
  width: 8px; /* Largura da barra de rolagem */
}

/* Estilizando o track da barra de rolagem */
::-webkit-scrollbar-track {
  transition: all 500ms;
  background-color: #eeeeee; /* Cor de fundo do track */
}

/* Estilizando o thumb da barra de rolagem */
::-webkit-scrollbar-thumb {
  transition: all 500ms;
  background-color: var(--Main-Color); /* Cor do thumb */
  border-radius: 0px 0px 0px 12px; /* Bordas arredondadas */
}

/* Mudando a cor da barra de rolagem quando o mouse está sobre ela */
::-webkit-scrollbar-thumb:hover {
  transition: all 500ms;
  background-color: var(--Second-Color);
 
}



/* carrousel */
.swiper, swiper-container{
  z-index: unset!important;
}

.swiper-wrapper{
  z-index: unset!important;
}

.swiper-horizontal{
  width: 100%;
}

.swiper-slide, swiper-slide{
  display: flex!important;
  align-items: center;
  justify-content: center;
}

.swiper-button-prev,
.swiper-button-next {
  color: white;
  font-size: 5px;
  height: 25px!important;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px!important;
  position: relative;
  transition: all 500ms;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  color: var(--Main-Color);
  display: block;
  z-index: 5;
  position: absolute;
  padding: 10px;
  font-size: 15px!important;
  font-weight: bolder;
}

.swiper-button-prev, .swiper-button-next{
  height: 40px;
  width: 40px;
  scale: 1;
}

.swiper-button-prev:hover, .swiper-button-next:hover{
  scale: 1.05;
}
.swiper-button-prev, .swiper-button-next img{
  width: 20px;
}


.swiper-button-prev::after, .swiper-button-next::after {
  content: none!important;
}

.swiper-button-disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.swiper-pagination{
  height: 100%;
  width: 100%;
  justify-content: center;
}

.swiper-pagination-bullet{
  width: 12px;
  height: 12px;
  margin: 12px;
}


.swiper-pagination-bullet{
  width: 12px!important;
  transition: all 200ms ease-in-out;
  height: 12px!important;
  background-color: transparent!important;
  opacity: 1!important;
  margin: 0 10px!important;
  border: white solid 1.5px;
  border-radius: 100%!important;
  transition: opacity 0.2s ease-in-out;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  transition: all 200ms ease-in-out;
  width: 12px!important;
  height: 12px!important;
  background-color: white!important;
}
