.Banner{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.BannerContainer{
    width: 90%;
    max-width: 1500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.BannerContent{
    width: 100%;
    max-width: 1500px;
    height: 450px;
    background-color: var(--Main-Color);
    display: flex;
    justify-content: space-between;
}

.TextBanerHere{
    width: 650px;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    text-align: left;
    position: relative;
    padding: 80px 20px;
}

.TextBanerHere h2{
    color: white;
    font-size: 35px;
    width: 100%;
}

.TextBanerHere p{
    line-height: 100%;
    color: white;
    font-size: 16px;
    width: 100%;
}



.SwiperHere{
    background-color: var(--Second-Color);
    width: 65%;
    max-width: 65%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-button-disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  
.swiper-pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

.BannerSwiperHere{
    height: 80px;
    position: absolute;
    bottom: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
}

.MainSlide{
    width: 100%;
    height: 100%;
}

.ImagensBanner{
    width: 100%;
    height: 100%;
}