.Banner{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.BannerContainer{
    width: 95%;
    max-width: 1500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.BannerContent{
    width: 100%;
    max-width: 1500px;
    height: 450px;
    background-color: var(--Main-Color);
    display: flex;
    justify-content: space-between;
}

.TextBanerHere{
    width: 550px;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    text-align: left;
    position: relative;
    padding: 80px 20px;
}

.TextBanerHere h2{
    color: white;
    font-size: 35px;
    width: 100%;
}

.TextBanerHere p{
    line-height: 100%;
    color: white;
    font-size: 16px;
    width: 100%;
}



.SwiperHere{
    background-color: var(--Second-Color);
    width: 65%;
    max-width: 65%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-button-disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  
.swiper-pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

.BannerSwiperHere{
    height: 80px;
    position: absolute;
    bottom: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
}

.MainSlide{
    width: 100%;
    height: 100%;
}

.ImagensBanner{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (min-width:850px) and (max-width:1150px){
    .BannerContent{
        width: 100%;
        max-width: 1500px;
        height: auto;
        background-color: var(--Main-Color);
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    
    .SwiperHere{
        background-color: var(--Second-Color);
        width: 100%;
        max-width: 100%;
        height: 450px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .TextBanerHere{
        width: 100%;
        height: auto;
        min-height: 400px;
        max-height: 450px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        text-align: left;
        position: relative;
        padding: 80px 20px;
    }
    
}

@media screen and (min-width:550px) and (max-width:850px){
    .BannerContent{
        width: 100%;
        max-width: 1500px;
        height: auto;
        background-color: var(--Main-Color);
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    
    .SwiperHere{
        background-color: var(--Second-Color);
        width: 100%;
        max-width: 100%;
        height: 60vw;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .TextBanerHere{
        width: 100%;
        height: auto;
        min-height: 400px;
        max-height: 450px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        text-align: left;
        position: relative;
        padding: 80px 20px;
    }
    
}


@media screen and (min-width:280px) and (max-width:550px){
    .BannerContent{
        width: 100%;
        max-width: 1500px;
        height: auto;
        background-color: var(--Main-Color);
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    
    .SwiperHere{
        background-color: var(--Second-Color);
        width: 100%;
        max-width: 100%;
        height: 60vw;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .TextBanerHere{
        width: 100%;
        height: 80vw;
        min-height: 400px;
        max-height: 750px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        text-align: left;
        position: relative;
        padding: 60px 20px;
    }

    .ContentHereBanner h2{
        font-size: 26px;
    }
    

    .BannerContainer{
        width: 100%;
        max-width: 1500px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}